<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CotagAdministration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="mailTo" value="eman.cauchi@gov.mt" />
    <!-- Mail to send exceptions to, Pipe Delimeted List -->
    <add key="mailFrom" value="mis-unit.mita@gov.mt" />
    <!-- Mail to send exceptions from -->
    <add key="mailServer" value="exgateway.mail.services.gov.mt" />
    <!-- Mail server -->
    <add key="sendMail" value="false" />
    <!-- True = ON, False = OFF -->
    <add key="timeout" value="300" />
    <add key="ProviderName" value="Vodafone" />
    <!--Connection Timeout-->
  </appSettings>
  <connectionStrings>
    <add name="db_mita_cotagEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MISDB2-DK-VM\SQL2K8;Initial Catalog=db_mita_cotag;Persist Security Info=True;User ID=mita-app-cotagadmin;Password=4u7h3n71c473!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <location path="AccessDenied.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles/Site.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Assets">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation targetFramework="4.0" debug="true" />
    <authentication mode="Windows" />
    <identity impersonate="false" />
    <anonymousIdentification enabled="false" />
    <authorization>
      <allow users="*" />
    </authorization>
    <pages styleSheetTheme="Skin" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <customErrors defaultRedirect="ErrorPage.aspx" mode="On">
      <error statusCode="403" redirect="test.html" />
      <error statusCode="404" redirect="test.html" />
    </customErrors>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <CotagAdministration.Properties.Settings>
      <setting name="CotagAdministration_TMSService_TaskManagementService"
        serializeAs="String">
        <value>http://test.integrationservices.wcf/TMS/TMSService.asmx</value>
      </setting>
    </CotagAdministration.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1" />
    </httpErrors>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.1005" newVersion="4.1.7.1005" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>